.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark); // 0 en x, 20 px en y, 60px de blur, 30% opacité

  // ! tesing purpose
  min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 2px solid var(--color-grey-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    flex: 0 0 18%;//grow shrink basis
    background-color: var(--color-grey-dark-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; // permet de coller le legal tout en bas
}

.hotel-view {
    flex: 1;// prends le reste de la place
    background-color: #fff;
    height: 80rem;
}
